/node_modules
/vendor
.git
.gitignore
.env
.env.*
*.md
docker-compose*
Dockerfile*
.dockerignore
README.md
LICENSE
tests
.phpunit.result.cache
docker
storage/framework/cache/**
storage/framework/sessions/**
storage/framework/views/**
storage/logs/** 